@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sample App -- Deployed from Visual Studio</h1>
    <p>Sample app for deployment to Azure App Service -- made a local change 7:02 23 May</p>
    <p>Sample app for deployment to Azure App Service -- made a local change 7:40 23 May</p>
    <p>Sample app for deployment to Azure App Service -- made a local change 8:30 23 May</p>
    <p>Sample app for deployment to Azure App Service -- made a local change 8:42 23 May
        Changes are done  via CLI only this time.  Checking to see if CLI push is faster than pull,
        commit, push via Git Changes blade in VS.
    </p>
    <!--<p>Done -- Deployment to Azure App Service by Zip</p>
    <p>Done -- Deployment to Azure with the Zip mounted as a file share</p>
    <p>Done -- Deployment to Azure with FTPS was attempted but can't be done without ECT permission</p>
    <p>Done -- Removed the setting for deploying from zip in Configuration.</p>
    <p>Done -- Saved the config settings.</p>
    <p>Deployment to Azure from the local git repo.  This will be done on the CLI</p>-->
</div>
